

<!-- Main Page Content and Sidebar -->



<div class="row">
<div data-alert>
  <!-- Your content goes here -->
  <% if flash[:notice] %>
    <%= content_tag :div, :id => "flash_name", :class => "alert-box success" do %>
      <%= flash[:notice] %>
        <a href="#" class="close">&times;</a>
    <% end %>
  <% end %>

  <% if flash[:error] %>
    <%= content_tag :div, :id => "flash_name", :class => "alert-box alert" do %>
      <%= flash[:error] %>
        <a href="#" class="close">&times;</a>
      <% end %>
  <% end %>


</div>
  <!-- Contact Details -->
  <div class="large-9 columns">

    <h3>Get in Touch!</h3>
    <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day <em>all day</em>.</p>

    <div class="section-container tabs" data-section>
      <section class="section">
        <h5 class="title"><a href="#panel1">Contact Our Company</a></h5>
        <div class="content" data-slug="panel1">
          <%= form_for @contact_us, :url => contactus_path(@contact_us) do |f| %>
            <% if @contact_us.errors.any? %>
              <ul>
                  <% @contact_us.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
              </ul>
            <% end %>
            <div class="row collapse">
              <div class="large-2 columns">
                <%= f.label :name, "Your Name",class: "inline" %>
              </div>
              <div class="large-10 columns">
                <%= f.text_field :name, placeholder: "Jane Smith" %>
              </div>
            </div>
            <div class="row collapse">
              <div class="large-2 columns">
                <%= f.label :email, "Your Email", class: "inline" %>
              </div>
              <div class="large-10 columns">
                <%= f.text_field :email, placeholder: "jane@smithco.com" %>
              </div>
            </div>
            <%= f.label :message, "What's up?" %>
            <%= f.text_area :message, row: "4" %>
            <%= f.submit "Submit", class: "radius button" %>
          <% end %>
        </div>
      </section>
      <section class="section">
        <h5 class="title"><a href="#panel2">Specific Person</a></h5>
        <div class="content" data-slug="panel2">
          <ul class="large-block-grid-5">
            <li><a href="mailto:mal@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Mal Reynolds</a></li>
            <li><a href="mailto:zoe@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Zoe Washburne</a></li>
            <li><a href="mailto:jayne@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Jayne Cobb</a></li>
            <li><a href="mailto:doc@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Simon Tam</a></li>
            <li><a href="mailto:killyouwithmymind@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">River Tam</a></li>
            <li><a href="mailto:leafonthewind@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Hoban Washburne</a></li>
            <li><a href="mailto:book@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Shepherd Book</a></li>
            <li><a href="mailto:klee@serenity.bc.reb"><img src="http://placehold.it/200x200&amp;text=[person]">Kaywinnet Lee Fry</a></li>
            <li><a href="mailto:inara@guild.comp.all"><img src="http://placehold.it/200x200&amp;text=[person]">Inarra Serra</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <!-- End Contact Details -->


  <!-- Sidebar -->


  <div class="large-3 columns">
    <h5>Map</h5>
    <!-- Clicking this placeholder fires the mapModal Reveal modal -->
    <p>
      <a href="" data-reveal-id="mapModal"><%= image_tag("map-location.jpg")%></a><br />
      <a href="" data-reveal-id="mapModal">View Map</a>
    </p>
    <p>
      Weblabsolution<br />
      Palampur, HP 176061
    </p>
  </div>
  <!-- End Sidebar -->
</div>

<!-- End Main Content and Sidebar -->

<!-- Map Modal -->

<div class="reveal-modal" id="mapModal">
  <h4>Where We Are</h4>
  <p><div id="map">
  <iframe width="1100" height="580"
          frameborder="0" scrolling="no"
          marginheight="0" marginwidth="0"
          src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=32.1200,76.5300&amp;aq=&amp;sll=30.733315,76.779418&amp;sspn=0.195654,0.363579&amp;gl=in&amp;g=Chandigarh&amp;ie=UTF8&amp;t=m&amp;ll=32.120019,76.529989&amp;spn=0.021081,0.047164&amp;z=15&amp;output=embed">
          </iframe><br /><small>
          <a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=32.1200,76.5300&amp;aq=&amp;sll=30.733315,76.779418&amp;sspn=0.195654,0.363579&amp;gl=in&amp;g=Chandigarh&amp;ie=UTF8&amp;t=m&amp;ll=32.120019,76.529989&amp;spn=0.021081,0.047164&amp;z=15" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
  </p>
  <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
  <a href="#" class="close-reveal-modal">&times;</a>
</div>


